<header class="header">
  <nav class="nav">
    <ul class="nav-list nav-container">
      <li class="nav-item">
        <a class="main-logo" href="./index.html">
          <svg width="24" height="24">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
          <svg class="logo-bookshelf" width="77" height="13">
            <use href="./images/sprite.svg#icon-bookshelf"></use></svg
        ></a>
      </li>

      <li class="mob-hidden main-nav-block">
        <ul class="site-nav">
          <li class="item">
            <a class="nav-link" href="./index.html" data-action="index">Home</a>
          </li>
          <li class="item">
            <a
              class="nav-link"
              href="./shopping-list.html"
              data-action="shopping-list"
              >Shopping list
              <svg class="shopping-bag swg" width="20" height="20">
                <use href="./images/sprite.svg#icon-shop"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <svg class="tab-hidden ico-burger" width="28" height="28">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
      </li>
      <li class="mob-hidden">
        <button class="user-acc">
          <svg class="user-icon" width="37" height="37">
            <use href="./images/sprite.svg#icon-user"></use>
          </svg>
          <p class="user-name">User</p>
          <svg class="" width="23" height="26">
            <use href="./images/sprite.svg#icon-caret-down"></use>
          </svg>
        </button>
      </li>
    </ul>
  </nav>
</header>
