<header class="header container">
  <nav class="nav">
    <ul class="nav-list nav-container">
      <li class="nav-item">
        <svg class="" width="99" height="24">
          <use href="./images/sprite.svg#icon-logo-light"></use>
        </svg>
      </li>

      <div class="mob-hidden main-nav-block">
        <ul class="site-nav">
          <li class="item">
            <a class="nav-link current link" href="./index.html">Home</a>
          </li>
          <li class="item">
            <a class="nav-link link" href="./shopping-list.html"
              >Shopping list
              <svg class="" width="20" height="20">
                <use href="./images/sprite.svg#icon-shop"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <li class="nav-item switch-burger">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <svg class="nav-burger" width="28" height="28">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </li>
    </ul>
  </nav>
</header>
