<div class="section">
  <div class="popup-modal-background hidden">
    <div class="popup-modal">
      <button class="popup-modal-close-button" type="button">
        <svg width="28" height="28" class="popup-modal-close">
          <use href="./images/sprite.svg#icon-x-close-vad"></use>
        </svg>
      </button>
      <div class="book-info-container">
        <img class="book-image" src="#" alt="#" />
        <div class="book-information">
          <p class="book-title-pop"></p>
          <p class="book-author"></p>
          <p class="book-description"></p>
          <div class="book-store-links">
            <a class="amazon-link" target="_blank" href="#">
              <img
                class="change-color fix-amazon add-hover"
                srcset="
                  ./images/amazon-1x-min.png 1x,
                  ./images/amazon-2x-min.png 2x
                "
                src="./images/amazon-1x-min.png"
                alt="Amazon Logo"
              />
            </a>
            <a class="applebooks-link" target="_blank" href="#">
              <img
                class="change-color"
                srcset="
                  ./images/openbook-1x-min.png 1x,
                  ./images/openbook-2x-min.png 2x
                "
                src="./images/openbook-1x-min.png"
                alt="Openbook Logo"
              />
            </a>
            <a class="bookshop-link" target="_blank" href="#">
              <img
                class="change-color"
                srcset="
                  ./images/bookshop-1x-min.png 1x,
                  ./images/bookshop-2x-min.png 2x
                "
                src="./images/bookshop-1x-min.png"
                alt="Bookshop Logo"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="button-center">
        <button class="add-to-list-button" type="button">
          <span class="button-popup-text">ADD TO SHOPPING LIST</span>
        </button>
        <p class="book-adding-text hidden">
          Congratulations! You have added the book to the shopping list. To
          delete, press the button "Remove from the shopping list".
        </p>
      </div>
    </div>
  </div>
</div>
