<section class="section">
  <div class="popup-modal-background hidden">
    <div class="popup-modal">
      <button class="popup-modal-close-button" type="button">
        <svg width="28" height="28" class="popup-modal-close">
          <use href="./images/sprite.svg#icon-x-close-vad"></use>
        </svg>
      </button>
      <div class="book-info-container">
        <img class="book-image" />
        <div class="book-information">
          <h2 class="book-title"></h2>
          <h3 class="book-author"></h3>
          <p class="book-description"></p>
          <div class="book-store-links">
            <a class="amazon-link" target="_self">
              <img
                class="change-color"
                srcset="
                  ./images/amazon-1x-min.png 1x,
                  ./images/amazon-2x-min.png 2x
                "
                src="./images/amazon-1x-min.png"
                alt="Amazon Logo"
              />
            </a>

            <a class="applebooks-link" target="_self">
              <img
                class="change-color"
                srcset="
                  ./images/openbook-1x-min.png 1x,
                  ./images/openbook-2x-min.png 2x
                "
                src="./images/openbook-1x-min.png"
                alt="Openbook Logo"
              />
            </a>
            <a class="bookshop-link" target="_self">
              <img
                class="change-color"
                srcset="
                  ./images/bookshop-1x-min.png 1x,
                  ./images/bookshop-2x-min.png 2x
                "
                src="./images/bookshop-1x-min.png"
                alt="Bookshop Logo"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="button-center">
        <button class="add-to-list-button" type="button">
          <span class="button-popup-text">ADD TO SHOPING LIST</span>
        </button>
      </div>
    </div>
  </div>
</section>
