<div class="section">
  <div class="shopping-list-div">
    <h1 class="best-sellers">Shopping <span class="title-color">List</span></h1>
    <p class="loader hidden"></p>
    <div class="empty-shopping-list-div">
      <p class="empty-shopping-list-msg">
        This page is empty, add some books and proceed to order.
      </p>
      <img
        class="empty-shopping-list-img"
        src="./images/img-for-shoplist.svg"
        width="265"
        height="198"
      />
    </div>
    <div class="js-books shop"></div>
  </div>
</div>
