
<section class="support">
  <div class="container-support">
    <h1 class="support-section-title">Support Ukraine</h1>
    <img
      class="ukraine-emblem"
      srcset="./images/support10.png 1x, ./images/support10-2x.png 2x"
      src="./images/support10.png"
      alt="UkraineEmblem"
      width="20px"
      height="32px"
    />
    <ul class="donation-organisation-list"></ul>
    <button class="scroll-btn">
      <img
        class="scroll-img-down"
        src="./images/slider.png"
        alt="slider-down"
      />
      <img
        class="scroll-img-up hidden-scroll-support"
        src="./images/slider-up.png"
        alt="slider-up"
      />
    </button>
  </div>
</section>

