.darkmode body {
  background-color: #202024;
}
.darkmode .nav-list {
  background-color: #111111;
  color: #ffffff;
}
.darkmode .nav-link {
  color: #ffffff;
}
.darkmode .swg {
  fill: #ffffff;
  stroke: #ffffff;
}
.darkmode .logo-bookshelf {
  stroke: #ffffff;
  fill: #ffffff;
}
.darkmode .best-sellers {
  color: #ffffff;
}
.darkmode .btn-category {
  background-color: #202024;
  color: #ffffff;
}
.darkmode .book-title {
  color: #ffffff;
}
.darkmode .category-item {
  color: #ffffff;
}
.darkmode .current-category {
  color: #eac645;
}
.darkmode .empty-shopping-list-msg {
  color: #ffffff;
}
.darkmode .popup-modal {
  background-color: #202024;
}
.darkmode .popup-modal-close {
  color: #ffffff;
}
.darkmode .book-title-pop {
  color: #ffffff;
}
.darkmode .book-information {
  color: #ffffff;
}
.darkmode .add-to-list-button {
  color: #ffffff;
}
.darkmode .book-adding-text {
  color: rgba(255, 255, 255, 0.5);
}
.darkmode .book-card-title {
  color: #ffffff;
}
.darkmode .book-card-description {
  color: #ffffff;
}
.darkmode .fix-amazon {
  stroke: #ffffff;
  filter: brightness(0) invert(1);
}
.darkmode .popup-modal {
  border: 2px solid;
  border-color: #ffffff;
}
.darkmode .topbook-title {
  color: #b4afaf;
}
.darkmode .book-author {
  color: #b4afaf;
}
.darkmode .book-card-author {
  color: #b4afaf;
}
.darkmode .book-card-category {
  color: #b4afaf;
}
.darkmode .category-link-text {
  color: #ffffff;
}
