.darkmode body {
  background-color: #202024;
}
.darkmode .nav-list {
  background-color: #111111;
  color: #ffffff;
}
.darkmode .nav-link {
  color: #ffffff;
}
.darkmode .swg {
  fill: #ffffff;
  stroke: #ffffff;
}
.darkmode .logo-bookshelf {
  stroke: #ffffff;
  fill: #ffffff;
}
.darkmode .best-sellers {
  color: #ffffff;
}
.darkmode .btn-category {
  background-color: #202024;
  color: #ffffff;
}
.darkmode .book-title {
  color: #ffffff;
}
.darkmode .category-item {
  color: #ffffff;
}
.darkmode .current-category {
  color: #eac645;
}
.darkmode .empty-shopping-list-msg {
  color: #ffffff;
}
