.section {
  padding-top: 40px;
}

.container {
  padding-inline: 20px;
  margin-inline: auto;
  background-color: aqua;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-inline: 32px;
  }

  .side-bar {
    display: flex;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-inline: 24px;
  }

  .page{
    display: flex;
    gap: 40px;
  }

  .side-bar {
    display: flex;
    flex-direction: column;
    gap: 86px;
  }
}


