.container {
  padding-inline: 20px;
  margin-inline: auto;
}
.page{
  padding-top: 40px;
  padding-bottom: 40px;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DMSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/DMSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DMSans-Bold.ttf) format('truetype');
}



@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
  .side-bar {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-inline: 32px;
  }
  .side-bar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 100px;
  }
    .page {
      padding-bottom: 60px;
    }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-inline: 24px;
  }
  .page {
    display: flex;
    gap: 40px;
    padding-bottom: 32px;
  }
  .side-bar {
    display: flex;
    flex-direction: column;
    gap: 86px;
  }
}