.section {
  padding-top: 40px;
}

.container {
  padding-inline: 20px;
  background-color: aqua;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-inline: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-inline: 24px;
  }
}


