.hidden {
  display: none;
}

.visible {
  display: flex;
}

body.modal-open {
  overflow: hidden;
}


.popup-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 17, 0.4);
  overflow: auto;
}

.popup-modal {
  position: relative;
  width: 335px;
  height: auto;
  padding: 40px 24px;
  padding-top: 41px;
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid;
  border-color: #111111;
}

.popup-modal-close-button {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  margin-bottom: 4px;
}

.popup-modal-close {
  stroke: currentColor;
  fill: currentColor;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-modal-close:hover,
.popup-modal-close:focus {
  stroke: #4f2ee8;
}

.book-image {
  width: 287px;
  height: 408px;
  border-radius: 8px;
  border: none;
}
.book-info-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.book-title-pop {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}
.book-author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  color: #3B3B3B;
  margin-bottom: 18px;
}
.book-description {
  margin-bottom: 14px;
}
.book-store-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  width: 173px;
  height: 36px;
}
.change-color {
  filter: grayscale(1);
}
.change-color:hover {
  filter: grayscale(1) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}

.button-center {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.add-to-list-button {
  height: 46px;
  width: auto;
  border: 2px solid;
  border-radius: 40px;
  border-color: #4f2ee8;
  background-color: inherit;
  padding: 14px 28px;
  font-weight: 700;
  color: inherit;
  transition-property: background-color, color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.add-to-list-button:hover,
.add-to-list-button:focus {
  background-color: #4f2ee8;
  border: none;
  color: #ffffff;
}
.book-adding-text{
  width: 242px;
  font-size: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .popup-modal {
    width: 579px;
    padding: 40px;
    padding-top: 42px;
  }
  .popup-modal-close-button {
    right: 24px;
    top: 24px;
    width: 28px;
    height: 28px;
  }
  .svg-pop-up {
    width: 28px;
    height: 28px;
  }
  .book-image {
    width: 192px;
    height: 281px;
  }
  .book-info-container {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 40px;
  }
  .book-title-pop {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .book-author {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .book-description {
    margin-bottom: 20px;
  }

  .add-to-list-button {
    height: 64px;
    width: 100%;
    padding: 20px 20px;
    font-size: 18px;
    font-weight: 700;
  }
    .book-adding-text {
      width: 324px;
      font-size: 12px;
    }
}
