.hidden {
    display: none;
}

.visible {
    display: flex;
}

.popup-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.40);
}

.popup-modal-close-button {
    height: 20px;
    width: 20px;
}

.popup-modal-close-button svg {
    height: 100%;
    width: 100%;
}