.empty-shopping-list-div {
 padding: 80px 55px;
}
.empty-shopping-list-msg {
  text-align: center;
  margin-bottom: 14px;
  color: rgb(0, 0, 0, 0.6);
}
.empty-shopping-list-img{
  width: 265px;
  height: 198px;
}
.js-books-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.book-card{
  display: flex;
  justify-content: space-between;
  gap: 14px;
  width: 100%;
  height: 170px;
  padding: 14px;
  border: 2px solid;
  border-radius: 16px;
  border-color: #4F2EE8;
}
.book-card-info{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.book-card-hero{
  display: flex;
  gap: 18px;
  justify-content: space-between;
  align-items: center;
}
.book-card-footer{
  display: flex;
  justify-content: space-between;
  gap: ;
}
.book-card-image{
  width: 100px;
  height: 142px;
  border: none;
  border-radius: 8px;
}
.book-card-title{
  font-size: 16px;
  font-weight: 700;
}
.book-card-category{
  font-size: 12px;
  color: #B4AFAF;
}
.book-card-description{
  width: 193px;
  height: 68px;
}
.book-card-author{
  font-size: 12px;
  font-style: italic;
  color: #B4AFAF;
}
.book-card-links{
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .empty-shopping-list-div {
    width: 349px;
    padding-top: 100px;
    padding-inline: auto;
    margin-inline: auto;
  }
  
  .empty-shopping-list-msg {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .empty-shopping-list-img {
    width: 322px;
    height: 241px;
  }
  .js-books-container{
     margin-bottom: 40px;
  }
  .book-card {
    height: 213px;
    padding: 24px;
    gap: 24px;
  }
  .book-card-image {
    width: 116px;
    height: 165px;
  }
  .book-card-description {
    width: 508px;
    height: 53px;
  }
  .book-card-links {
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .shopping-list-div{
    width: 996px;
  }
  .book-card-description {
    width: 808px;
  }
}