.empty-shopping-list-div {
  padding: 80px 55px;
}
.empty-shopping-list-msg {
  text-align: center;
  margin-bottom: 14px;
  color: rgb(0, 0, 0, 0.6);
}
.empty-shopping-list-img {
  width: 265px;
  height: 198px;
}
.js-books.shop {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.book-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  width: 100%;
  height: 170px;
  padding: 14px;
  border: 2px solid;
  border-radius: 16px;
  border-color: rgba(79, 46, 232, 0.4);
}
.book-card-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.book-card-hero {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  align-items: center;
}
.book-card-footer {
  width: 193px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-card-image {
  width: 100px;
  height: 142px;
  border: none;
  border-radius: 8px;
}
.book-card-title {
  width: 144px;
  height: 18px;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.book-card-category {
  width: 165px;
  height: 14px;
  font-size: 12px;
  color: #3B3B3B;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-card-description {
  width: 193px;
  height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 6px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.book-card-author {
  width: 100px;
  font-size: 12px;
  font-style: italic;
  color: #3B3B3B;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.book-card-links {
  width: 80px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

/* .img-shoplist-cards {
  
  height: 16px;
  width: 16px;
}
.img-shoplist-cards-amazon {
  
  height: 11px;
  width: 32px;
}
.img-shoplist-cards:hover,
.img-shoplist-cards:focus {
  filter: grayscale(1) drop-shadow(0 3px 3px #0003);
} */

.book-card-remove {
  position: absolute;
  padding: 6px;
  right: 14px;
  top: 14px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: none;
  background-color: #4f2ee8;
}
.book-card-remove-icon {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .empty-shopping-list-div {
    width: 349px;
    padding-top: 100px;
    /* padding-inline: auto; */
    margin-inline: auto;
  }

  .empty-shopping-list-msg {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .empty-shopping-list-img {
    width: 322px;
    height: 241px;
  }
  .js-books.shop {
    margin-bottom: 40px;
  }
  .book-card {
    height: 213px;
    padding: 24px;
    gap: 24px;
  }
  .book-card-image {
    width: 116px;
    height: 165px;
  }
    .book-card-info{
      gap: 14px;
    }
  .book-card-description {
    width: 508px;
    height: 53px;
    /* white-space: wrap; */
    margin-bottom: 24px;

  }
    .book-card-links {
      width: 140px;
      height: 30px;
      gap: 16px;
    }
  .book-card-title {
    width: max-content;
  }
  .book-card-category {
    width: max-content;
  }
  .book-card-footer {
    width: auto;
  }
  .book-card-author {
    width: auto;
  }
  /* .img-shoplist-cards {
    height: 30px;
    width: 32px;
  }
  .img-shoplist-cards-amazon {
    height: 15px;
    width: 48px;
  } */
  .book-card-remove {
    right: 24px;
    top: 24px;
    width: 34px;
    height: 34px;
  }
}

@media screen and (min-width: 1440px) {
  .shopping-list-div {
    width: 996px;
  }
  .book-card-description {
    width: 808px;
  }
}
