.container-support{
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 352px;
  border-radius: 16px;
  background: rgb(79, 46, 232);
  background: linear-gradient(180deg, rgba(79, 46, 232, 1) 0%, rgba(255, 255, 255, 1) 130%);
}
.support-section-title{
    font-family: DM Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.04em;
    color:white;
    text-align:center;
}

.donation-organisation-list{
  overflow: hidden;
  margin-bottom: 16px;
  margin-left: 40px;
  margin-top: 40px;
}

.support-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.support-item:not(:last-child) {
  margin-bottom: 10px;
}

.support-item-number{
  font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    color:white;
    margin-right:16px;
}
.support-image{
  height: 42px;
  color:#ffffff;
  filter: brightness(0)invert(1);
}

.scroll-btn{
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  align-self: center;
  margin-bottom: 20px;
}

.scroll-img-down,.scroll-img-up{
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  align-self: center;
  margin-bottom: 20px;
}

.support-title-div{
  display: flex;
  margin-top: 24px;
  margin-left: 40px;
  
}

.ukraine-emblem{
 width: 20px;
 height: 32px;
 margin-left: 12px;
}

.hidden-scroll-support{
  display: none;
}

@media screen and (min-width: 768px) {
  .container-support {
    height: 472px;
  }
  .support-title-div {
    margin-top: 16px;
  }
  .support-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .scroll-btn {
    width: 38px;
    height: 38px;
    margin-bottom: 14px;
  }
  .donation-organisation-list{
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container-support {
    width: 356px;
    height: 490px;
  }

  .donation-organisation-list{
    margin-bottom: 40px;
  }
  .scroll-btn {
    margin-bottom: 24px;
  }
}
